body{
    max-width: 100%;
    max-height: 50vh;
    margin: 0 auto;
    background: #6bd3ff;
background: linear-gradient(90deg, rgba(107, 211, 255, 1) 0%, rgba(66, 138, 201, 1) 35%, rgba(21, 105, 122, 1) 100%);
}
section{
    align-items: center;
    justify-content: center;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    text-shadow: black 3px 3px;
}
img{
    border-radius: 15px;
}
.zdjecie{

    display: flex;
    margin: auto;
    flex: 1;             
    height: 400px; 
    width: 400px;         
    transition: 0.3s;   
    box-shadow: 5px 3px 3px 2px black; 
    border-radius: 15px;
 
}

.opis{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 5px black solid;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    background: white;
}

table,tr,td,th{
    text-align: center;
    border-collapse: collapse;
    border: 2px black solid;
    background: white;
    

}
table{
    width: 30%;
    height: 20vh;
    
}
.tabwartosci{

    display: flex;
    align-items: center;
    justify-content: center;
}