body{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
   background: #a3fb3f;
background: radial-gradient(circle,rgba(163, 251, 63, 1) 0%, rgba(200, 176, 81, 1) 56%, rgba(252, 70, 107, 1) 100%);

}
.menu{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    margin-bottom: 15vh;
    

}
h2{
    margin-bottom: 30px;
    margin-left: 30px;
    text-align: center;
    font-size: 6vh;
}
label{
    font-size: 3vh;
    font-weight: bold;

}
input{
    display: block;
    font-size: 3vh;
    cursor: pointer;
    border: 2px solid #ccc;
    box-sizing: border-box;
}
button{
    font-size: 5vh;
    width: 80%;
    height: 60%;
    cursor: pointer;
    border-radius: 30px;
    
}
.menu button:hover{
    background-color:coral;
    
}
.menu a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 3vh;
    margin-top: 10px;
    margin-left: 0px;
    
}
.menu a:hover{
    color: blue;
}
